@import "reset";
@import "variable";
@import "mixin";

$main_color: #495bff;
$second_color: rgba($main-color, 10%);
$third_color: #fff;

$bg_white: #fff;
$bg_violet: #eceeff;

$main_font: "Inter", sans-serif;
$second_font: "Livvic", sans-serif;

$font_size_s: 12px;
$font_size_m: $font_size_s * 1.2;
$font_size_l: $font_size_s * 1.5;
$font_size_xl: $font_size_s * 2;

$font_size_title_s: 18px;
$font_size_title_m: $font_size_title_s * 1.2;
$font_size_title_l: $font_size_title_s * 1.5;
$font_size_title_xl: $font_size_title_s * 2;

$line: 2px;
$nav_height: 80px;

$footer_box_height: 50px;
$null: null;
$padding: 20px;
$max_width: 1200px;

a {
    text-decoration: none;
    color: $main_color;
}

body {
    color: $main_color;
    @include s() {
        font-size: 14px;
    }
}
* {
    vertical-align: middle;
}

@import "layout/nav";
@import "layout/footer";
