<!DOCTYPE html>
<html lang="en">
<head>
	@@include('layout/meta.html',{ 'title' : '商品管理' })
	<!-- vue -->
	<script src="https://unpkg.com/vue@next"></script>
	<!-- jq -->
	<!-- <script src="./js/jquery-3.6.1.js"></script> -->
	<script src="https://code.jquery.com/jquery-3.6.1.js" ></script>
	<!-- font -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Livvic:wght@400;500;600;700;900&display=swap" rel="stylesheet">
	 <!-- icon -->
	 <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.1.1/css/fontawesome.min.css">
</head>

<body id="app" class="back_end_shop">
	<!-- 新增編輯商品燈箱區 -->
	<div id="lightbox">
		<div id="edit_box">
			<div class="form_item">
				<label for="title">品名</label>
				<input type="text" id="title">
			</div>
			<div class="form_item">
				<label>種類</label>
				<select>
					<option>男裝</option>
					<option>女裝</option>
				</select>
				<select>
					<option>上身</option>
					<option>下身</option>
					<option>套裝</option>
					<option>鞋款</option>
					<option>配件</option>
				</select>
				<select>
					<option>短袖</option>
					<option>長袖</option>
					<option>外套</option>
					<option>背心</option>
				</select>
			</div>
			<div class="form_item">
				<label for="price">售價</label>
				<input type="number" id="price">
			</div>
			<!-- Hashtag -->
			<div class="form_item"> 
				<label for="tag">Hashtag</label>
				<input type="text" id="tag" v-model.trim="tag_name" @keydown.enter="addTo">
				<div id="tag_box">
					<span v-for="(tag,index) in tags" :key="tag" @click="removeTo(index)">#{{tag}} <span>x</span></span>
				</div>
			</div>
			<div class="form_item">
				<label>子項目</label>
				<button id="add_sub_item" onclick="add_item()">新增</button>
			</div>
			<div class="wrap" id="wrap">
				<div class="sub_form_item">
					<div class="option">
						<input type="file">
						<input type="text" placeholder="顏色">
						<select class="size">
							<option>XXL</option>
							<option>XL</option>
							<option>L</option>
							<option>M</option>
							<option>S</option>
							<option>XS</option>
						</select>
						<select>
							<option>上架</option>
							<option>下架</option>
						</select>
						<button class="remove_sub_item">刪除</button>
					</div>
				</div>
			</div>
			
			<div class="confirm_box">
				<button>新增</button>
				<button>修改確定</button>
				<button id="cancel">取消</button>
			</div>
		</div>
	</div>
	<!-- 新增編輯商品燈箱區 end -->
	<!-- 側邊欄 -->
	<div class="container-fluid overflow-hidden">
		<div class="row g-5">
			@@include('layout/aside.html')
			<!-- 側邊欄 end -->
			<div class="col-9">
				<h2>商品管理</h2>
				<!-- 上方篩選區 -->
				<div class="filter_box">
					<select>
						<option>男裝</option>
						<option>女裝</option>
					</select>
					<select>
						<option>上身</option>
						<option>下身</option>
						<option>套裝</option>
						<option>鞋款</option>
						<option>配件</option>
					</select>
					<select>
						<option>短袖</option>
						<option>長袖</option>
						<option>外套</option>
						<option>背心</option>
					</select>
					
					<input type="text" placeholder="Search">
					<button class="search">search</button>
					<button id="create">新增</button>
					
					
					
				</div>
				<!-- 上方篩選區 end -->
				<!-- 商品列表 -->
				<table class="table shop_table">
					<thead>
						<tr>
							<th scope="col">編號</th>
							<th scope="col">商品圖</th>
							<th scope="col">品名</th>
							<th scope="col">種類</th>
							<th scope="col">顏色</th>
							<th scope="col">尺寸</th>
							<th scope="col">售價</th>
							<th scope="col">狀態</th>
							<th scope="col">#Hashtag</th>
						</tr>
					</thead>
					<tbody>
						<tr v-for="(item,index) in product" class="item" :key="item.id">
							<th scope="row">{{item.id}}</th> <!-- 編號 -->
							<td class="product_img"><img :src="item.image" :alt="item.description"></td> <!-- 商品圖 -->
							<td>{{item.title}}</td> <!-- 品名 -->
							<td>{{item.type}}</td>   <!-- 類型 -->
							<td>{{item.color}}</td> <!-- 顏色 -->
							<td>{{item.size}}</td> <!-- 尺寸 -->
							<td>{{item.price}}</td> <!-- 價格 -->
							<td>{{item.state}}</td> <!-- 狀態 -->
							<td>{{item.tag}}</td> <!-- hashtag -->
						</tr>
					</tbody>
				</table>
				<!-- 商品列表 end -->
				<!-- 頁碼 -->
				<nav aria-label="...">
					<ul class="pagination">
					  <li class="page-item disabled">
						<span class="page-link">Previous</span>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">1</a></li>
					  <li class="page-item active" aria-current="page">
						<span class="page-link">2</span>
					  </li>
					  <li class="page-item"><a class="page-link" href="#">3</a></li>
					  <li class="page-item">
						<a class="page-link" href="#">Next</a>
					  </li>
					</ul>
				  </nav>
				  <!-- 頁碼 end -->
			</div>
		</div>
	</div>
	<script>
		Vue.createApp({
			data() {
				return {
					tag_name:'', //hashtag
                  	tags:[],  //hashtag 陣列
					product: [ //產品資訊
						{
							id: 1,
							image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
							title: "UNISEX 環保刷毛帽T",
							type:"上身",
							color:"黑",
							size:"XL",
							price: 1980,
							description: "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
							category: "men's clothing",
							state:"上架",
							tag:"毛衣",
						},
						{
							id: 2,
							image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
							title: "UNISEX 環保刷毛帽T",
							type:"上身",
							color:"黑",
							size:"XL",
							price: 1980,
							description: "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
							category: "men's clothing",
							state:"上架",
							tag:"毛衣",
						},
						{
							id: 3,
							image: "https://fakestoreapi.com/img/81fPKd-2AYL._AC_SL1500_.jpg",
							title: "UNISEX 環保刷毛帽T",
							type:"上身",
							color:"黑",
							size:"XL",
							price: 1980,
							description: "Your perfect pack for everyday use and walks in the forest. Stash your laptop (up to 15 inches) in the padded sleeve, your everyday",
							category: "men's clothing",
							state:"上架",
							tag:"毛衣",
						},
						
					],	
				}
				},
				methods:{
					addTo(){
                    this.tags.push(this.tag_name);
                    this.tag_name='';
                },
					removeTo(index){
						this.tags.splice(index,1)
					},
				}
			}).mount('#app')

		// --- 燈箱 ---
		let lightbox = document.querySelector('#lightbox') // 燈箱
		let cancel = document.getElementById("cancel"); // 關閉燈箱按鈕
		let create = document.getElementById("create"); // 新增按鈕
		const items = document.querySelectorAll('.item'); // 商品項目
		items.forEach(item => {	//點擊商品項目開燈箱
			item.addEventListener('click', e =>{
				lightbox.classList.add('active');
			})
		})
		create.addEventListener('click', function(){ // 點擊新增開燈箱
			lightbox.classList.add('active');
		})
		cancel.addEventListener('click',function(){ // 點擊取消關燈箱
			lightbox.classList.remove('active');
		})

		// --- 新增子項目 ---
		function add_item(){
			$('#wrap').append(`
				<div class="sub_form_item">
					<div class="option">
						<input type="file">
						<input type="text" placeholder="顏色">
						<select class="size">
							<option>XXL</option>
							<option>XL</option>
							<option>L</option>
							<option>M</option>
							<option>S</option>
							<option>XS</option>
						</select>
						<select>
							<option>上架</option>
							<option>下架</option>
						</select>
						<button class="remove_sub_item">刪除</button>
					</div>
				</div>`)
		}
		// --- 刪除子項目 ---
		$(document).on('click', '.remove_sub_item' ,function() {
			$(this).parent().parent().remove();
		})
	</script>
</body>

</html>