<div class="col-3 px-3 border border-primary bg-light">
	<div
		class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark"
		style="width: 280px"
	>
		<a
			href="/"
			class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-Primary text-decoration-none"
		>
			<svg class="bi pe-none me-2" width="40" height="32">
				<use xlink:href="#bootstrap" />
			</svg>
			<span class="fs-4">Sidebar</span>
		</a>
		<hr />
		<ul class="nav nav-pills flex-column mb-auto">
			<li class="nav-item">
				<a href="#" class="nav-link active" aria-current="page">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#home" />
					</svg>
					營運管理
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#speedometer2" />
					</svg>
					商品管理
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#table" />
					</svg>
					一周穿搭
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#grid" />
					</svg>
					服飾搭配
				</a>
			</li>

			<ul class="list-group rounded-3">
				<li class="list-group-item">
					<a href="#" class="nav-link text-Primary">
						<svg class="bi pe-none me-2" width="16" height="16">
							<use xlink:href="#people-circle" />
						</svg>
						會員管理
					</a>
				</li>
				<li class="list-group-item">
					<a href="#" class="nav-link text-Primary">
						<svg class="bi pe-none me-2" width="16" height="16">
							<use xlink:href="#people-circle" />
						</svg>
						員工管理
					</a>
				</li>
			</ul>

			<ul class="list-group rounded-3">
				<li class="list-group-item">
					<a href="#" class="nav-link text-Primary">
						<svg class="bi pe-none me-2" width="16" height="16">
							<use xlink:href="#people-circle" />
						</svg>
						訂單管理
					</a>
				</li>
				<li>
					<a href="#" class="nav-link text-Primary">
						<svg class="bi pe-none me-2" width="16" height="16">
							<use xlink:href="#people-circle" />
						</svg>
						會員管理
					</a>
				</li>
			</ul>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#people-circle" />
					</svg>
					訂單管理
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#people-circle" />
					</svg>
					訂閱服務
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#people-circle" />
					</svg>
					會員諮詢預約
				</a>
			</li>
			<li>
				<a href="#" class="nav-link text-Primary">
					<svg class="bi pe-none me-2" width="16" height="16">
						<use xlink:href="#people-circle" />
					</svg>
					廠商留言
				</a>
			</li>
		</ul>
		<hr />
		<div class="dropdown">
			<a
				href="#"
				class="d-flex align-items-center text-Primary text-decoration-none dropdown-toggle"
				data-bs-toggle="dropdown"
				aria-expanded="false"
			>
				<img
					src="https://github.com/mdo.png"
					alt=""
					width="32"
					height="32"
					class="rounded-circle me-2"
				/>
				<strong>mdo</strong>
			</a>
			<ul class="dropdown-menu dropdown-menu-dark text-small shadow">
				<li>
					<a class="dropdown-item" href="#">Sign out</a>
				</li>
			</ul>
		</div>
	</div>
</div>
