<div class="col-9 px-3 py-3 border border-primary bg-light">
	<h2>穿搭提案</h2>
	<table class="table table-striped border border-success p-2 mb-2">
		<thead>
			<tr>
				<th scope="col">星期</th>
				<th scope="col" colspan="2">男</th>
				<th scope="col" colspan="2">女</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<th scope="row">Monday</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
			<tr>
				<th scope="row">Tuesday</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
			<tr>
				<th scope="row">Wednesday</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
			<tr>
				<th scope="row">Thursday</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
			<tr>
				<th scope="row">Friday</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
			<tr>
				<th scope="row">Weekend</th>
				<td><img src="https://picsum.photos/200/300/?random=10" /></td>
				<td>上衣名稱Lorem, ipsum dolor.</td>
				<td><img src="https://fakeimg.pl/200x300/200" /></td>
				<td>下身名稱Lorem10</td>
			</tr>
		</tbody>
	</table>
	<hr class="border border-primary border-1 opacity-50" />

	<div class="row border border-success p-2 mb-2">
		<p>影片編輯</p>
		<button class="btn btn-primary" type="button">新增</button>
	</div>
	<div class="container">
		<div class="row border border-success p-2 mb-2">
			<div class="col-6">
				<p class=""><span>影片：</span>影片名稱</p>
				<video class="mx-auto" src=""></video>
			</div>
			<div class="col-6">
				<p class=""><span>照片：</span>照片名稱</p>
				<img src="https://picsum.photos/300/200/?random=10" />
			</div>
			<div class="col-12 py-1 text-center">
				<button class="btn btn-primary" type="button">編輯</button>
			</div>
		</div>
	</div>
</div>
