    #menu-switch{
        display: none;
        
        &:checked + div.header{
            .main_nav{
                /* display: block; */
                left: 0;
                opacity: 1;
                transition: opacity 1s 1s;
            }
            .hb {
                span:nth-child(1){
                    animation: no1 .5s .5s forwards;
                }
                span:nth-child(2){
                    animation: no2 .5s 0s forwards;
                }
                span:nth-child(3){
                    animation: no3 .5s .5s forwards;
                }
            }
        }
        
    }

div.header{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: $bg_white;
    color: $main-color;
    position: sticky;
    top: 0;
    margin-bottom: 20px;
    .logo{
        img{
            vertical-align: top;
        }
    }


    @include s(){
        .hb{
            width: 40px;
            height: 40px;
            position: relative;
            span{  
                width: 32px;
                height: 2px;
                background-color: $main_color;
                position: absolute;
                left: 0;
                right: 0;
                margin: auto;
                transform: rotate(0deg);
                opacity: 1;
            }

            span:nth-child(1){
                top: 7px;
            }
            
            span:nth-child(2){
                top: 19px;
            }

            span:nth-child(3){
                top: 31px;
            }

        }

        .main_nav_icon{
            text-align: right;
            flex-grow: 1;
            border: red 1px solid;
        }
        .main_nav{
            position: absolute;
            background-color: $bg-white;
            width: 100%;
            left: -100%;
            top: 100%;
            opacity: 0;
            transition: opacity 1s 0s,
                        left    0s 1s;
            a{
                display: block;
                padding: 20px;
                color: $third_color;
            background-color: $main-color;

                text-align: center;
                margin: 5px;
            }
        }

    }
    @include m(){
        .hb { display: none;}
        .main_nav{
            border: red 1px solid;
            display: flex;
            width: fit-content;
            flex-grow: 1;
            justify-content: flex-end;
            text-align: right;
                a{
                    color: $main_color;
                    border: red 1px solid;
                }
            
    }
   }
   
}

@keyframes no1{
        0%{ top: 7px;  transform: rotate(0deg);}
        50%{ top: 19px; transform: rotate(0deg);}
    100%{ top: 19px; transform: rotate(405deg);}
}
@keyframes no2{
        0%{ opacity: 1;}
    100%{ opacity: 0;}
}
@keyframes no3{
        0%{ top: 31px;  transform: rotate(0deg);}
        50%{ top: 19px; transform: rotate(0deg);}
    100%{ top: 19px; transform: rotate(675deg);}
}
