<footer>
	<div class="learning-word">
		This website is the special work of the 79th student of the TibaMe_
		front-end design engineer class of Wisdom Education. This platform is
		only for learning and display purposes. If there is a conflict with the
		relevant copyright, or a third party claims to infringe on intellectual
		property rights, etc., the students are legally responsible, and Weiyu
		Company is not responsible. If you have any concerns about infringement,
		you can send a private message to
		<a href="https://www.facebook.com/TibaMe">[TibaMe]</a>, and a dedicated
		person will assist you in the follow-up.
	</div>
</footer>
