    <footer>
        <div class="">STAY IN THE KNOW</div>
        <p>Monthly servings of GREENBEER news, events, offers and chances to win!</p>
        <label for=""><input type="text" placeholder="email"></label>

        <div><button class="btn-submit" >SUBMIT</button></div>
        <div class="icon-link">
            <p>
            <a href=""><i class="bi bi-facebook"></i>
            </a>
            <a href=""><i class="bi bi-instagram"></i>
            </a>
            <a href=""><i class="bi bi-youtube"></i>
            </a>
            </p>
        </div>
        <div class="learning-word">
            This website is the special work of the 79th student of the TibaMe_ front-end design engineer class of Wisdom Education. This platform is only for learning and display purposes. If there is a conflict with the relevant copyright, or a third party claims to infringe on intellectual property rights, etc., the students are legally responsible, and Weiyu Company is not responsible. If you have any concerns about infringement, you can send a private message to <a href="https://www.facebook.com/TibaMe">[TibaMe]</a>, and a dedicated person will assist you in the follow-up.
        </div>
    </footer>