 <!--nav--> 
    <input type="checkbox" name="" id="menu-switch">
    <div class="header">
        <!-- logo -->
        <div class="logo">
            <img src="https://fakeimg.pl/80x40/200">
        </div>
        <!-- 漢堡 -->
        我是ICON
        <label for="menu-switch" class="hb">
            <span></span>
            <span></span>
            <span></span>
        </label>
        <!-- 選單 -->
        <nav class="main-nav">
            <a href="#">找風格</a>
            <a href="#">逛商品</a>
            <a href="#">風格動態牆</a>
            <a href="#">訂閱服務</a>
            <a href="#">關於我們</a>
        </nav>
    </div>