@import "reset";
@import "variable";
@import "mixin";
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Livvic:ital,wght@0,400;0,500;0,600;0,700;0,900;1,400;1,500;1,600;1,700;1,900&family=Noto+Sans+TC:wght@400;500;700;900&family=Poppins:ital,wght@0,400;1,600&display=swap");
// @import "node_modules/bootstrap/scss/bootstrap";
$null: null;

// 顏色
$main_color: #495bff;
$second_color: #eceeff;
$third_color: #fff;

$bg_white: #fff;
$bg_violet: #eceeff;

// $main:#495BFF;
$secondary: #ebebeb;
$bg_blue: #eceeff;
$bg_gray: #f1f1f1;
$title_color: #292929;
$text_color: #444444;

// 字型
$main_font: "Noto Sans TC", sans-serif;
$second_font: "Poppins", sans-serif;
$third_font: "Poppins", sans-serif;
$four_font: "Poppins", sans-serif;
// $font_size_s: 12px;
// $font_size_m: $font_size_s * 1.2;
// $font_size_l: $font_size_s * 1.5;
// $font_size_xl: $font_size_s * 2;

// $font_size_title_s: 18px;
// $font_size_title_m: $font_size_title_s * 1.2;
// $font_size_title_l: $font_size_title_s * 1.5;
// $font_size_title_xl: $font_size_title_s * 2;

$line: 2px;
$nav_height: 60px;
$nav_fsize: 16px;
$tag_fsize: 56px;
$footer_box_height: 95px;
$padding: 20px;
$max_width: 1200px;

a {
	text-decoration: none;
	color: $main_color;
}

body {
	font-family: $main_font;
	color: $main_color;
	background-color: $bg_white;
}

.left_right {
	display: flex;
}
