/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #495bff;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  color: #495bff;
  background-color: #fff;
}

.left_right {
  display: flex;
}

.btn_ns {
  color: white;
  background-color: #495bff;
  box-sizing: border-box;
  border: 2px solid #495bff;
  text-align: center;
  font-size: 14PX;
  padding: 12px 24px;
  font-weight: 600;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  line-height: normal;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn_ns {
    font-size: 18px;
    font-weight: 400;
    padding: 15px 30px;
  }
  .btn_ns:hover {
    background-color: #eceeff;
    color: #495bff;
    border: 2px solid #495bff;
  }
}

.btn_s {
  border: 2px solid #495bff;
  color: white;
  background-color: #495bff;
  box-sizing: border-box;
  border: 2px solid #495bff;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .btn_s {
    font-size: 18PX;
    width: 120px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .btn_s {
    width: 150px;
    line-height: 60px;
    font-size: 18px;
    cursor: pointer;
  }
  .btn_s:hover {
    background-color: #eceeff;
    color: #495bff;
    border: 2px solid #495bff;
    cursor: pointer;
  }
}

.btn_l {
  border: 2px solid #495bff;
  color: #495bff;
  background-color: #fff;
  box-sizing: border-box;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .btn_l {
    font-size: 18PX;
    width: 120px;
    height: 50px;
  }
}
@media screen and (min-width: 768px) {
  .btn_l {
    width: 150px;
    line-height: 60px;
    font-size: 18px;
    cursor: pointer;
  }
  .btn_l:hover {
    background-color: #eceeff;
    color: #495bff;
    border: 2px solid #495bff;
    cursor: pointer;
  }
}

.btn_ms {
  background: #fff;
  color: #495bff;
  padding: 10px 12px;
  border: 2px solid #495bff;
  box-sizing: border-box;
  min-width: 80px;
}
.btn_ms:hover {
  background-color: #eceeff;
  color: #495bff;
  border: 2px solid #495bff;
  cursor: pointer;
}

.btn_ml {
  background: #495bff;
  color: white;
  padding: 10px 12px;
  border: 2px solid #495bff;
  box-sizing: border-box;
  min-width: 80px;
}
.btn_ml:hover {
  background-color: #eceeff;
  color: #495bff;
  border: 2px solid #495bff;
  cursor: pointer;
}

.btn_mgs {
  background: #444444;
  color: white;
  padding: 10px 12px;
  border: 2px solid #444444;
  box-sizing: border-box;
  min-width: 80px;
}
.btn_mgs:hover {
  background-color: #f1f1f1;
  border: 2px solid #292929;
  color: #292929;
  cursor: pointer;
}

.btn_mgl {
  background: white;
  color: #292929;
  padding: 10px 12px;
  border: 2px solid #444444;
  box-sizing: border-box;
  min-width: 80px;
}
.btn_mgl:hover {
  background-color: #f1f1f1;
  border: 2px solid #292929;
  cursor: pointer;
}/*# sourceMappingURL=main.css.map */