// MemberSideMenu.Vue
.member_side_menu {
    background-color: $main_color;
    width: 23%;
    min-width: max-content;
	padding-bottom: $padding;
    height: auto;
	@include s() {
		display: none;
	}
	.member {
		width: 100%;
		padding: 20px;
		display: flex;
		justify-content: center;
		box-sizing: border-box;
		// text-align: end;
		gap: 40px;
		.mug_shot {
			width: 80px;
			min-width: 50px;
			aspect-ratio: 1 /1;
			border-radius: 50%;
			overflow: hidden;
			img {
				width: 100%;
				height: 100%;
				object-position: center;
			}
		}
		// 名字 + 會員等級
		.name_level {
			font-family: $second_font;
			color: white;
			text-align: end;
			display: flex;
			flex-direction: column;
			justify-content: space-evenly;
			.name {
				font-weight: 700;
				font-size: 24px;
			}
			.level {
				font-weight: 400;
				font-size: 14px;
			}
			.level_up {
				font-family: $main_font;
				font-weight: 400;
				font-size: 14px;
				color: white;
			}
		}
	}
	.side_menu{
		width: 100%;
		color: white;
		.side_menu_title{
			font-family: $main_font;
			font-size: 18px;
			font-weight: 500;
			line-height: 50px;
			display: block;
			text-align: start;
			padding-left: 50%
		}
		nav{
			padding-right: 15%;
			> a {
				display: block;
				text-align: end;
				font-weight: 300;
				color: white;
				line-height: 45px;
				// 當前頁面 # 標籤
				.side_menu_tag {
					font-family: $second_font;
					font-size: 20px;
					font-weight: 700;
					margin-right: 20px;
					vertical-align: middle;
					opacity: 0;
				}
				.show{
					opacity: 1;
				}
				&:hover{
					.side_menu_tag{
						opacity: 1;
					}
				}
			}
		} 
	}
}

// MemberSideMenu 共用 scss
.mem_container{
	display: flex;
	width: 100% ;
	flex-wrap: wrap;
	.mem_data{
	flex: 1;
	margin:50px 50px 150px 50px;
		.title{
			font-size: 24px;
			color: #292929;
			padding-bottom:$padding;
		}
		.data{
			width: 100%;
			min-height: max-content;
			padding: $padding;
			// border: solid sienna 1px;
		}
	}
}