@import "reset";
@import "variable";
@import "mixin";

$null: null;

$main_color: #495bff;
$second_color: #eceeff;
$third_color: #fff;

$bg_white: #fff;
$bg_violet: #eceeff;

$main_font: "Noto Sans TC", sans-serif;
$second_font: "Livvic", sans-serif;
$third_font: "Poppins", sans-serif;
$four_font: "Balsamiq Sans", cursive;

// $font_size_s: 12px;
// $font_size_m: $font_size_s * 1.2;
// $font_size_l: $font_size_s * 1.5;
// $font_size_xl: $font_size_s * 2;

// $font_size_title_s: 18px;
// $font_size_title_m: $font_size_title_s * 1.2;
// $font_size_title_l: $font_size_title_s * 1.5;
// $font_size_title_xl: $font_size_title_s * 2;

$line: 2px;
$nav_height: 80px;
$nav_fsize: 18px;
$tag_fsize: 56px;
$footer_box_height: 95px;
$padding: 20px;
$max_width: 1200px;
a{
	text-decoration: none;
}
.outfit-title{
	color: #000;
	h2{
		margin-bottom: 10px;
	}
	padding: 15px 0px;
	border: 1px solid #000;
	width: 80%;
	max-width: 390px;
	@include m{
		max-width: 960px;
	}
	margin: auto;
	text-align: center;
	font-size: 20px;
	font-weight: 600;
	.outfit-item{
		position: relative;
		display: inline-block;
		font-size: 14px;
		font-weight: 400;
		padding: 5px 20px;
		a{
			color: #000;
		}
	}
	.outfit-item a::after {
		content: '';
		position: absolute;
		width: 70px;
		transform: scaleX(0);
		height: 5px;
		bottom: 0;
		left: 17.5px;
		background-color: $main_color;
		transform-origin: bottom right;
		transition: transform 0.2s ease-out;
	  }
	  
	  .outfit-item a:hover::after {
		transform: scaleX(1);
		transform-origin: bottom left;
	  }
}
